<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "{{PAGE_BREADCRUMB}}",
  "description": "{{PAGE_DESC}}",
  "url": "{{PAGE_URL}}",
  "datePublished": "{{PAGE_DATE}}",
  "dateModified": "{{PAGE_DATE}}",
  "image": "{{BASE_URL}}{{PAGE_IMAGE}}",
  "inLanguage": "fr-FR",
  "author": {
    "@type": "Organization",
    "name": "{{NOM_COMMERCIAL}}",
    "url": "{{BASE_URL}}"
  },
  "publisher": {
    "@type": "Organization",
    "@id": "{{BASE_URL}}/#entreprise",
    "name": "{{NOM_COMMERCIAL}}"
  }
}
</script>
